@using FinansoData.DataViewModel.Group

@model IEnumerable<GetGroupInvitationsViewModel>

    
@if(Model.Count() > 0){
    <h2>Invitations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Group</th>
                <th>Invited by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.GroupName</td>
                    <td>@i.GroupOwnerFirstName @i.GroupOwnerLastName</td>
                    <td>
                        <form method="post" action="/Group/AcceptInvitation">
                            <input type="hidden" name="groupUserId" value="@i.GroupUserId" />
                            <button type="submit" class="btn btn-success mb-1">Accept</button>
                        </form>

                        <form method="post" action="/Group/RejectInvitation">
                            <input type="hidden" name="groupUserId" value="@i.GroupUserId" />
                            <button type="submit" class="btn btn-secondary btn-danger mb-1">Reject</button>
                        </form>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <p>No invitations</p>
}