@using FinansoData.DataViewModel.Balance
@using FinansoApp.ViewModels.Balance

@model FinansoApp.ViewModels.Balance.IndexViewModel

@{
    // round sum of all balances
    double roundedSumOfBalances;
    if(Model.SumAmount == null) 
    {
        roundedSumOfBalances = 0;
    }
    else
    {
        roundedSumOfBalances = Math.Round((double)Model.SumAmount, 2);
    }
}


<div class="row">
    <div class="col-md-12">
        <a type="button" class="btn btn-secondary mb-1" asp-action="AddBalance" asp-controller="Balance">New balance</a>
        <h2>Balance</h2> 
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Currency
                    </th>
                    <th>
                        Group
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Balances)
                {
                    <tr>
                        <td>
                            @i.Id
                        </td>
                        <td>
                            @i.Name
                        </td>
                        <td>
                            @{ 
                                if(i.Currency.Code == "BTC")
                                {
                                    <p>@i.Amount</p>
                                }
                                else
                                {
                                    <p>@Math.Round(i.Amount, 2)</p>
                                }
                            }
                        </td>
                        <td>
                            @i.Currency.Name
                        </td>
                        <td>
                            @i.Group.Name
                            </td>
                        <td>
                            <a type="button" class="btn btn-secondary mb-1" asp-action="SetBalanceAmount" asp-controller="Balance" asp-route-id="@i.Id">Edit</a>
                            <a type="button" class="btn btn-secondary mb-1" asp-action="Delete" asp-controller="Balance" asp-route-id="@i.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>Sum of all balances: @roundedSumOfBalances zł</div>
    </div>